/bin/
/.settings/
/target/
.classpath
.project
/logs/

#IntelliJ
**/.idea/
**/*.iml
**/*.ims

#MacOS
**/.DS_Store

#Eclipse
**/*.classpath
**/*.project
**/*.settings/
**/*.metadata/

#Maven
**/log/
**/target/

#Java
**.class
**.jar

#Others
**/*.log.*
**/*.log
